@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.header-index {
  display: fex;
  background-color: #efeeee; }
  .header-index .logo-ajustar {
    display: flex;
    background-color: #efeeee;
    justify-content: center;
    width: 100%; }
  .header-index .logo-ajustar img {
    height: 100px;
    padding: 1.5rem; }

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #007998;
  list-style: none;
  margin: 0;
  font-family: 'Montserrat', sans-serif; }
  nav ul {
    margin: 0;
    padding: 0; }
  nav li {
    display: inline-block;
    margin: 15px 0;
    padding: 0 10px; }
    nav li a {
      text-decoration: none;
      color: #e3e3e3;
      opacity: .7; }

li a:hover {
  opacity: 1; }

nav #toggle, nav label {
  display: none; }

.frase-color {
  background-color: #B2B851;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  color: #e3e3e3;
  width: 100%;
  padding: 20px 10px;
  text-align: center;
  margin-bottom: 0; }

.contenedor-carousel {
  display: flex;
  align-items: center;
  min-height: 400px; }

main h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: medium;
  color: #007998;
  border-bottom: 1px solid #007998;
  color: #007998;
  padding: 20px 50px 20px 50px; }

main .fernando:hover {
  filter: grayscale(100%); }

main .contenedor-imagen-texto {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  min-height: 600px;
  align-items: center; }

main .boton-personalizado {
  background-color: gb(239, 238, 238);
  border-radius: 0%;
  color: #777777;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  border: none; }

main .boton-personalizado:hover {
  background-color: #777777;
  color: #eeeeee; }

main .contenedor-lugares {
  min-height: 800px; }

main .todo, main .todo-eduardo {
  background-color: #e4e4e4;
  padding: 55px 0; }
  main .todo .atencion, main .todo-eduardo .atencion {
    color: #5A5459;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: initial;
    text-decoration: underline;
    margin-bottom: 30px; }
  main .todo .datos, main .todo-eduardo .datos {
    font-family: 'roboto', sans-serif;
    color: #5A5459;
    font-weight: lighter;
    text-align: center; }

main .todo-eduardo {
  background-color: transparent; }

main .atencion-eduardo {
  color: #5A5459;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: initial;
  text-decoration: underline;
  margin-bottom: 30px; }

main .datos-eduardo {
  font-family: 'roboto', sans-serif;
  color: #5A5459;
  font-weight: lighter;
  text-align: center; }

main .contener-imagen-texto {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  min-height: 600px;
  align-items: center; }

main .imagen-texto {
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  gap: 30px; }

main .texto-fernando {
  font-family: 'roboto', sans-serif;
  color: #5A5459;
  font-weight: lighter;
  line-height: 1,5;
  line-height: 25px; }

main h2 {
  font-family: 'Montserrat', sans-serif;
  color: #5A5459;
  text-align: start;
  width: 100%;
  padding-top: 2.5rem;
  padding-bottom: 2,5rem;
  padding: 50px; }

main .subtitulo p {
  font-family: 'Montserrat', sans-serif; }

main .titulos {
  font-family: 'Montserrat', sans-serif;
  font-size: small; }

main .artrosis {
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif; }

main .cadera-imagen {
  display: flex;
  width: 100%;
  padding: 0 50px;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center; }

main .cadera-texto {
  padding: 50px;
  font-family: 'roboto', sans-serif;
  color: #5A5459;
  font-weight: lighter; }

main .rodilla-imagen {
  display: flex;
  width: 100%;
  padding: 0 50px;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center; }

main .rodilla-texto {
  padding: 50px;
  font-family: 'roboto', sans-serif;
  color: #5A5459;
  font-weight: lighter; }

footer {
  display: flex;
  background-color: #B2B851;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.5px;
  font-size: 14px;
  /* o el tamaño que prefieras */
  line-height: 1.5;
  /* o el espaciado que prefieras */
  text-align: center;
  color: aliceblue;
  align-items: center;
  justify-content: center;
  padding: 10px 10px; }
  footer div p {
    margin: 0; }

@media (max-width: 768px) {
  .material-icons {
    font-size: 1rem;
    margin: 15px 0; }
  nav .menu {
    width: 100%;
    height: 0;
    overflow: hidden; }
  .menu ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
  nav label {
    display: inline-flex;
    color: white;
    cursor: pointer;
    padding: 0.5 rem 0; }
  nav #toggle:checked ~ .menu {
    display: flex;
    height: 100%; }
  main .imagen-texto {
    flex-direction: column;
    width: 90%;
    padding-top: 0;
    padding-bottom: 50px; }
  main .frase-color {
    font-size: small; }
  main .boton-personalizado {
    display: none; }
  main .menu-principal {
    flex-direction: column; }
  footer p {
    font-size: small; } }

@media (max-width: 320px) {
  .titulo-principal {
    font-size: 1.3rem;
    padding-left: 0;
    padding-right: 0;
    text-align: center; }
  .texto-fernando {
    padding: 10px 10px;
    font-size: .9rem; }
  .datos {
    font-size: small;
    padding: 0 10%; }
  .datos-eduardo {
    font-size: small; }
  .titulo-cadera {
    font-size: 1.3rem;
    padding-left: 0;
    padding-right: 0;
    text-align: center; }
  .titulo-rodilla {
    font-size: 1.3rem;
    padding-left: 0;
    padding-right: 0;
    text-align: center; }
  footer p {
    font-size: x-small; } }
