@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;600&family=Roboto:ital,wght@0,300;0,400;1,100;1,300&display=swap');
*{ padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header{   
background-color: #007998;
}


.header-index{
    display: fex;
    background-color: rgb(239, 238, 238);

}


.logo-ajustar{
    display: flex;
    background-color:rgb(239, 238, 238);
    justify-content: center;
    width: 100%;
}


.logo-ajustar img{
    width: 20%;
    padding: 1.5rem;
}
  


.menu-principal {
    display: flex;
    font-family: sans-serif;
    justify-content: center;
    background-color: #007998;
    font-weight:lighter;
    list-style: none;
    margin: 0;
    padding:0 3rem 0 0;
}



.menu-principal li {
    display: inline-block;
    margin: 15px 0;
    padding: 0 10px;
}



.menu-principal li a {
    text-decoration: none;
    color: #e3e3e3;
    opacity: .7;
}

.menu-principal li a:hover {
opacity: 1;
}


.frase-color{
    display: flex;
    background-color: #B2B851;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.equipo-titulo{
    font-family:'Montserrat', sans-serif;
    font-size: medium;
    color: #007998;
    border-bottom: 1px solid #007998;
    color: #007998;
    padding: 20px 50px 20px 50px;
    
}


.contenedor-imagen-texto{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    min-height: 600px;
    align-items: center;
    
}

.titulo-principal{
    font-family:'Montserrat', sans-serif;
    color:#5A5459;
    text-align: start;
    width: 70%;
    padding-top: 1.5rem;
} 

.imagen-texto{
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    gap: 30px;
 }


 .texto-fernando{
    font-family: 'roboto', sans-serif;
    color:#5A5459;
    font-weight: lighter;
    line-height: 1,5;
}



body{
background-color: rgb(239, 238, 238);
height: 100%;
}


main{
 height: 89.5%;
}


.contenedor-lugares{
    main-height: 600px; 
}


.border-right{
border-right: 1px solid #e3e3e3;
}

.lugares-titulo{
    font-family:'Montserrat', sans-serif;
    font-size: medium;
    color: #007998;
    border-bottom: 1px solid #007998;
    color: #007998;
    padding: 20px 50px 20px 50px;
}


.todo-fernando{
background-color: #E3E3E3;
padding: 50px 0;
}

.todo-eduardo{
    padding: 50px 0;
}


.atencion-fernando{
color: #5A5459;
text-align: center;
font-family:'Montserrat', sans-serif;
background-color: #E3E3E3;
text-decoration: underline;
margin-bottom: 30px;
}


.datos-fernando{
    background-color: #E3E3E3;
    font-family:'roboto', sans-serif;
    color: #5A5459;
    font-weight: lighter;
    text-align: center;
    
    
    
}


.atencion-eduardo{
    color: #5A5459;
    text-align: center;
    font-family:'Montserrat', sans-serif;
    font-size: initial;
    text-decoration: underline;
    margin-bottom: 30px;
   
}

.datos-eduardo{
    font-family:'roboto', sans-serif;
    color: #5A5459;
    font-weight: lighter;
    text-align: center;
    
}



.datos-fernando2{
    background-color: #E3E3E3;
    font-family:'roboto', sans-serif;
    color: #5A5459;
    font-weight: lighter;
    text-align: center;
    
}


.datos-fernando3{
        background-color: #E3E3E3;
        font-family:'roboto', sans-serif;
        color: #5A5459;
        font-weight: lighter;
        text-align: center;
        margin-bottom: 30px;

}

.atencion-fernando2{
    color: #5A5459;
    text-align: center;
    font-family:'Montserrat', sans-serif;
    background-color: #E3E3E3;
    text-decoration: underline;
    margin-bottom: 30px;
}

.cadera-titulo{
    width: 100%;
    font-family:'Montserrat', sans-serif;
    font-size: medium;
    color: #007998;
    border-bottom: 1px solid #007998;
    color: #007998;
    padding: 20px 50px 20px 50px;
}

.titulo-cadera{
    font-family: 'Montserrat', sans-serif;
    color: #5A5459;
    text-align: start;
    width: 100%;
    padding-top: 2.5rem;
    padding-bottom: 2,5rem;
    padding: 50px;
}

.cadera-imagen{
    display: grid;
    width: 100%;
    padding: 0 50px;
    grid-template-columns: 300px 300px 300px 300px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

    .cadera-texto{
        padding: 50px;
        font-family:'roboto', sans-serif;
        color: #5A5459;
        font-weight: lighter;
    }




.rodilla-titulo{
    width: 100%;
    font-family:'Montserrat', sans-serif;
    font-size: medium;
    color: #007998;
    border-bottom: 1px solid #007998;
    color: #007998;
    padding: 20px 50px 20px 50px;
}

.titulo-rodilla{
    font-family: 'Montserrat', sans-serif;
    color: #5A5459;
    text-align: start;
    width: 100%;
    padding-top: 2.5rem;
    padding-bottom: 2,5rem;
    padding: 50px;
}

.rodilla-imagen{
    display: grid;
    width: 100%;
    padding: 0 50px;
    grid-template-columns: 300px 300px 300px 300px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.rodilla-texto{
    padding: 50px;
    font-family:'roboto', sans-serif;
    color: #5A5459;
    font-weight: lighter;
}



.frase-color{
    background-color: linear-gradient(90deg,  #007998, #B2B851);
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    letter-spacing: 2pt;
    margin: 0;
}


ul li{
    display: inline-block;
    font-family:'Montserrat', sans-serif;
    color: aliceblue;
    text-align: center;
}


h1{
font-family: 'Montserrat', sans-serif;
color: #007998;
}






footer{
    display: flex;
    background-color: #B2B851;
    font-family:'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-size: small;
    text-align: center;
    color: aliceblue;
    height: 50px;
    align-items: center;
    justify-content: center;
    
}  
    
    footer div p{
        margin: 0;
    }


    @media (max-width:1260px){
        .rodilla-imagen{
            grid-template-columns: 300px 300px;
    
        }
        .cadera-imagen{
            grid-template-columns: 300px 300px;
        }
    }


    
@media (max-width:768px){
    .cadera-imagen{
        grid-template-columns: 300px;
    }
    .rodilla-imagen{
        grid-template-columns: 300px;
    }
    .menu-principal{
        flex-direction: column;
    }
}

@media (max-width:500px){
    .datos-fernando{
        font-size: .9rem;
    }
    .datos-eduardo{
        font-size: .9rem;
    }
    .datos-fernando2{
        font-size: .9rem;
    }
}

@media(max-width:320px){
    .titulo-rodilla{
        font-size: 1.3rem;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
    .rodilla-texto{
        text-align: center;
    }



}
  
