footer{
    display: flex;
    background-color: #B2B851;
    font-family:'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-size: small;
    text-align: center;
    color: aliceblue;
    height: 50px;
    align-items: center;
    justify-content: center;
    div p{
    margin: 0;
    }
}