


.frase-color{
    display: flex;
    background-color: #B2B851;
    font-family:'Montserrat', sans-serif;
    letter-spacing: 1px;
    color: #e3e3e3;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}