
@media (max-width: 768px) {
  .material-icons{
    font-size: 1rem;
    margin: 15px 0;
  }
  
  nav .menu {
      width: 100%;
      height: 0;
      overflow: hidden;
    }
    .menu ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    nav label {
      display: inline-flex;
      color: white;
      cursor: pointer;
      padding: 0.5 rem 0;
    }
  
    nav #toggle:checked ~ .menu {
      display: flex;
      height: 100%;
    }

.imagen-texto{
  flex-direction: column;
  width: 90%;
}

    .frase-color {
      font-size: small;
    }

.boton-personalizado{
  display: none;
}
  
  
    .menu-principal {
      flex-direction: column;
    }
  }
  

@media(max-width:320px){

    .titulo-rodilla{
        font-size: 1.3rem;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
    .rodilla-texto{
        text-align: center;
    }
}
