


@media (max-width:768px){
 
    
    nav .menu{
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .menu ul{
        flex-direction: column;
        align-items: center;
        justify-items: center;
        padding: 0.5 rem 0;
    }
    nav label{
        display: inline-flex;
        color: white;
        cursor: pointer;
        padding: 0.5 rem 0;
    }

    nav #toggle:checked ~ .menu{
    display: flex;
     height: 100%;

    }

    .frase-color{
        font-size: small;
    }


    .cadera-imagen{
        grid-template-columns: 300px;
    }
    .rodilla-imagen{
        grid-template-columns: 300px;
    }
    .menu-principal{
        flex-direction: column;
    }
}


@media (max-width:600px){
    .frase-color{
       font-size: xx-small;
     }
    }


@media (max-width:500px){
   
    .datos-fernando{
        font-size: .9rem;
    }
    .datos-eduardo{
        font-size: .9rem;
    }
    .datos-fernando2{
        font-size: .9rem;
    }
}

@media(max-width:320px){

    .titulo-rodilla{
        font-size: 1.3rem;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
    .rodilla-texto{
        text-align: center;
    }
}